/* Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.robotoGfont2 {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Left Block main */
.leftBlock {
  height: 100vh;
  width: 30%;
  text-align: center;
  overflow: hidden;
  position: fixed;
  left: 0;
  background-color: #222;
}

header {
  padding: 0;
  margin: 0;
  height: 100vh;
  vertical-align: middle;
  position: relative;
}
.profileImg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(/src/components/images/myImage.jpg);
  background-size: cover;
  background-position: center;
}
.profileImg:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    -20deg,
    hsla(20, 92%, 40%, 0.5) 0%,
    rgba(208, 84, 6, 0.5) 20%,
    transparent 30%,
    transparent 100%
  );
}

.content {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* backdrop-filter: blur(2px) saturate(80%); */
}
.content h1 {
  font-size: 36px;
  color: white;
  line-height: 1;
  margin: 0;
}
/* header conent Occupation */
.content p {
  font-size: 20px;
  color: white;
}

.side ul {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  top: 250px;
  list-style: none;
}
.side ul li {
  display: block;
  margin-right: 45px;
  background-color: #ffffff90;
  color: rgba(0, 0, 0, 0.249);
  width: max-content;
  border-radius: 100%;
}
.side ul li a {
  display: block;
  font-size: 20px;
  color: #040404cf;
  height: 45px;
  width: 45px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
}
.side ul li:hover {
  margin-left: 4px;
  background-color: #75757594;
}
.side ul li a:hover {
  color: white;
}
.side ul li a:active {
  color: rgba(0, 0, 0, 0.518);
}
.side ul li a:link {
  color: #040404cf;
}

@media (max-width: 600px) {
  .leftBlock {
    width: 100%;
    position: relative;
    background-image: url(/src/components/images/myImage.jpg);
    background-size: cover;
    background-position: center;
    background: linear-gradient(
      -20deg,
      hsla(20, 92%, 40%, 0.5) 0%,
      rgba(208, 84, 6, 0.5) 20%,
      transparent 30%,
      transparent 100%
    );
  }
}
