.expertiseItem {
  height: 90%;
  margin-bottom: 40px;
  padding: 50px !important;
  background-color: #ffffff0c;
  padding: 20px !important;
  box-shadow: #ffffff;
  border-radius: 7px;
}
.expertiseItem h5 {
  margin-bottom: 10px;
  font-weight: 500;
}
.expertiseItem p {
  font-size: 13.5px;
  font-weight: 400;
}
